@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Poppins';
    margin: 0;
  }
  
  header {
    padding: 60px;
    text-align: center;
    background-color: plum;
    color: #fff;
  }
  
  .card {
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    float: left;
    flex: 25%;
  }
  
  .card header {
    padding: 20px;
  }
  
  .card p {
    text-align: center;
  }
  
  .card img {
    width: 100%;
  }

  /* TODO: Use media query to change the width of the cards so they split into two columns at 992px or smaller*/
  @media only screen and (max-width: 992px) {
}  .card {
    flex: 50%; 
}


  /* TODO: Use media query to change the width of the cards so they are stacked on top of each other at 768px or smaller */
  @media only screen and (max-width: 768px) {
}   .card {
    flex: 100%; 
}  
